/* Google font*/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*choose background for html*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(148, 219, 255, 0.89);

}


/*footer styling*/
footer {
    position: fixed;
    bottom: 0;
    width:min-content;

}
.footer-links{
    list-style-type: none;
    display: inline-flex;
}

.footer-links li{
    padding:2vw;
    margin:2vw;
}

.footer-links i {
    font-size:150%
}
.footer-links a:hover{
    text-shadow: 4px 5px 8px white;
    font-size: 120%
}

.footer-links a:acive{
    color:red;
}
#container,
{
    max-width: 80%;
    width: 80vw;

}